[user]
	name = Maxim V. Potapov
	email = vopatop.skam@gmail.com

[color]
	ui = true

[merge]
	tool = opendiff

[core]
	whitespace=-indent-with-non-tab,trailing-space,cr-at-eol,tab-in-indent
	excludesfile = ~/.gitexcludes

[push]
	default = simple
	autoSetupRemote = true

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[init]
  defaultBranch = master

[pull]
  rebase = false

